* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.nav {
    background-color: black;
    color: white;
    height: 5em;
}

.nav div {
    width: 32em;
    margin-left: 1em;
}

.nav div p:nth-child(3){
    font-weight: bold;
}

.nav button {
    background-color: #16A2B8;
    font-weight: bold;
    color: white;
    padding: 5px 10px;
    border: 0px;
    margin-right: 1em;
    /* border-radius: 15px; */
}

.main {
    /* padding: 1em; */
    /* height: 700px; */
}

.profile {
    /* background-color: green; */
    /* text-align: center; */
    height: 100%;
    width: 100%;
    padding: 1em;
    /* margin-right: 1em; */
}

.user-card {
    border: 5px solid #16A2B8;
    height: 400px;
    width: 100%;
    margin-bottom: 1em;
    /* padding: 1em; */
}

.profile-contents {
    padding-left: 1em;
    margin-bottom: 0.25em;
}

.profile-contents img {
    border-radius: 50%;
    margin-right: 0.5   em;
}

.user-card div:first-child {
    background-color: #16A2B8;
    height: 30%;
    width: 100%;
    margin-bottom: 5em;
}

.profile-picture {
    margin-top: 2em;
    margin-left: 2em;
    height: 150px;
    width: max-content;
    border-radius: 50%;
}

.connections {
    /* background-color: blue; */
    /* text-align: center; */
    padding: 1em;
    height: 100%;
    width: 100%;
}

.connections-card {
    border: 5px solid black;
    margin-bottom: 1em;
}

.connections-header {
    background-color: black;
    color: white;
    padding: 1em;
}

.connections-card div:first-child h1 span {
    color: black;
    background-color: gray;
    border-radius: 50%;
    padding: 0.25em 0.5em;
}

.connections-footer {
    border-top: 5px solid black;
    padding: 1em;
}

.request {
    padding: 0.5em;
}

.request img {
    margin-right: 0.25em;
    border-radius: 50%;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.col-3 {
    flex: 3;
}

.col-2 {
    flex: 2;
}